/*Liste ---------------------------------------------------------------------------------*/
ul {
  list-style-type: none;
}


ul .supprimer {
  width: 20px;
  position: relative;
  top: 5px;
  margin-bottom: 2px;
  margin-right: 10px;

}


li {
  display: flex;
  justify-content: space-between;
}

/*Style input----------------------------------------------------------------------------*/
input {
  border-radius: 20px;
}


/*Fond-----------------------------------------------------------------------------------*/
.background {
  width: 480px;
  height: 780px;
  background-image: url("./image/background.png");
  border-radius: 84px 84px 84px 84px;
  -moz-border-radius: 84px 84px 84px 84px;
  -webkit-border-radius: 84px 84px 84px 84px;
  border: #19dcff 0.5px solid;
  padding: 10px 10px 10px 10px;
  margin: auto;
  /* margin-right: auto; */
}


/*Titre-----------------------------------------------------------------------------------*/
.logo {
  background-image: url("./image/titre.png");
  width: 335px;
  height: 124px;
  margin-left: auto;
  margin-right: auto;
}


/*Section ajouter élément-----------------------------------------------------------------*/
.ajoutelem {
  width: 480px;
  height: 100px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}


/*Liste-----------------------------------------------------------------------------------*/
.liste {
  margin-top: 5px;
  width: 480px;
  height: 490px;
  overflow: auto;
}


/*Sous-titre Ajoutez un élément------------------------------------------------------------*/
h2 {
  font-size: 30px;
  font-family: 'Love Ya Like A Sister', cursive;
}


/*Sous-titre A fair et Fait----------------------------------------------------------------*/
h3 {
  text-align: center;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 25px;

}


/*A faire----------------------------------------------------------------------------------*/
.faire {
  width: 450px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: auto;
  margin-right: auto;
  border-radius: 45px 45px 45px 45px;
  font-family: 'Roboto Slab', serif;
  padding-bottom: 3px;
}


/*Fait-------------------------------------------------------------------------------------*/
.fait {
  width: 450px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: auto;
  margin-right: auto;
  border-radius: 45px 45px 45px 45px;
  padding-bottom: 3px;
  font-family: 'Roboto Slab', serif;
}


/*text liste fait---------------------------------------------------------------------------*/
#done {
  text-decoration: line-through;
}


/*Bouton ajoutez---------------------------------------------------------------------------*/
button {
  background-color: #feee6c;
  border-radius: 25px;
  border: 1px solid #feee6c;
  cursor: pointer;
  color: #936827;
  font-size: 15px;
  padding: 3px 10px 5px 10px;
  font-family: 'Roboto Slab', serif;
}


/*Couleur du hover-------------------------------------------------------------------------*/
button:hover {
  background-color: #fcd956;
}


/*couleur du clique------------------------------------------------------------------------*/
button:active {
  position: relative;
  top: 1px;
  background-color: #d2ae45;
}


/*Taille scrollbar-------------------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 10px;
}


/*Contour de la barre----------------------------------------------------------------------*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #000;
  border-radius: 10px;
}


/*La barre---------------------------------------------------------------------------------*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff0000;
}


/*gère l'optimisation sur téléphone*/
@media screen and (max-width: 1000px) {
  .background {
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 85vh;
    padding: none;
    overflow-y: auto;
  }

  .logo {
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
  }

  .ajoutelem {
    width: 90%;
    margin: auto;
  }

  h2 {
    font-size: 22px;
  }

  .liste {
    width: 99%;
    height: fit-content;
  }

  h3 {
    font-size: 18px;
  }

  .faire {
    width: 100%;
  }

  .fait {
    width: 100%;
  }
}